doctype 5
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery.popupoverlay.js")
    script(type='text/javascript', src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js')
    link(href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/journal/bootstrap.min.css", rel="stylesheet")
    //link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/roommatesJavascripts.js")
    script(type="text/javascript", src="/javascripts/housingJavascripts.js")
    script(type="text/javascript", src="/javascripts/homeJavascripts.js")
  
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/', style="font-family: 'Fascinate Inline', cursive;") Internopolis
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/home') Home
              li
                a(href='/housing') Housing
              li
                a(href='/roommates') Roommates


            form.navbar-form.pull-right(name="fb-login", action="/login", method="post")
              input.btn(type="submit", value="Login with Facebook")

  body
    block content

