extends layout

block content
	title= title
	body
		div.row.container-narrow
			div(value= currUser, id="welcome-roommates-dialog")
				br
				br
			//form.offset12(name="logout-form", action="/logout", method="post")
					button.btn(type="submit", id="room-logout-button")
						i.icon-cog
						| Log out

			div.span5.well(id="roommate_search", style="margin-left:230px")
				form(name="roommate-criteria", action="/roommates/search", method="post")
					h3 Search for 
					label City: 
					input(type="text", name="city")
					label I am: 
					select(name="cleanliness")
						option(value="Very Neat") Very Neat
						option(value="Messy") Messy
						option(value="Meh") Meh
					label I go to bed at: 
					select(name="bedtime")
						option(value="11 PM") 11 PM
						option(value="12 AM") 12 AM 
						option(value="1 AM") 1 AM 
						option(value="2 AM or after") 2 AM or after
					label House Parties: 
					input(type="checkbox", name="house-parties")
					br
					br
					button.btn(type="submit", id="roommate-search-submit")
						i.icon-search
						|  Search

		include _roommate_results


