extends layout

block content

    !!! 5
    html(lang='en')
    head
    meta(charset='utf-8')
    title Bootstrap, from Twitter
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

    body

    .container
      .row
        .span4
          div.well(style="height:250px")
            h2 Housing
            i.icon-home(style="display: block; margin-left: auto; margin-right: auto; font-size: 190px")
        .span4
          div.well(style="height: 250px")
            h2 Roommates
            i.icon-group(style="display: block; margin-left: auto; margin-right: auto; font-size: 170px")
        .span4
          div.well(style="height: 250px")
            h2 Managing it all
            i.icon-folder-open-alt(style="text-align: center; font-size: 190px")
      
      .hero-unit  
              h1 Internships, simplified
              p
                | So you have an internship. Now comes the hard part- figuring out where you're going to live and with who. That's where we come in. Internopolis is the one-stop shop for finding and managing housing, roommates, and group housing expenses.
              p
                a.btn.btn-primary.btn-large(href='#') Learn more »  

      hr
      footer
        p © Internopolis 2013

