body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #8ec127;
}

a {
  color: #00B7FF;
}

#match-pic{
	width: 200px;
	height: 200px;
}

#housing-listing-image{
	width: 200px;
	height: 150px;
}